trigger: none  # Manual trigger only

pool:
  name: 'Default'

variables:
  terraformVersion: '1.5.5'
  azureServiceConnection: 'azurerm'
  backendResourceGroup: 'skink-rg'
  backendStorageAccount: 'mytfstate2024lb'
  backendContainer: 'tfstate'
  backendKey: 'terraform.tfstate'

stages:
  - stage: Destroy
    jobs:
      - job: TerraformDestroy
        steps:
          - task: TerraformInstaller@0
            inputs:
              terraformVersion: $(terraformVersion)

          - task: TerraformTaskV4@4
            inputs:
              provider: 'azurerm'
              backendServiceArm: $(azureServiceConnection)
              backendAzureRmResourceGroupName: $(backendResourceGroup)
              backendAzureRmStorageAccountName: $(backendStorageAccount)
              backendAzureRmContainerName: $(backendContainer)
              backendAzureRmKey: $(backendKey)
              backendAzureRmUseAzureADAuthentication: true
              command: 'init'
              workingDirectory: 'terraform'

          - task: TerraformTaskV4@4
            inputs:
              provider: 'azurerm'
              command: 'destroy'
              commandOptions: '--auto-approve'
              environmentServiceNameAzureRM: $(azureServiceConnection)
              workingDirectory: 'terraform'